##################################################################
#EN# Sample Husky configuration file



##################################################################
#EN# Main settings

#EN# 'version' is one of predefined variables. It is set to husky
#EN# version like MAJOR.MINOR.PATHLEVEL. We may want to check it
#EN# first to eliminate problems with incompatible config and binaries.
if "[version]"=="1.9.0"

#EN# The name of the system.
#EN# It is used as default origin in program-generated mail.
Name        August Sky System

#EN# The sysop's name.
#EN# It is used as 'from' or 'to' name in program-generated mail.
Sysop       Yeti

#EN# Physical location of the system.
#EN# Actually used only in config converter.
Location    Planet Earth, The Solar System, The Milky Way Galaxy

#EN# FTN addresses of the system, 5D compatible.
#EN# If the system has AKAs then repeat this line for every one of them.
Address     2:5030/9999@fidonet

#EN# Set origin for program-generated mail.
if "[module]"=="hpt"
  Origin   High Portable Tosser at my node
elseif "[module]"=="htick"
  Origin   High Portable Ticker at my node
else
#EN# No 'origin' statement results in usage of default origin
endif




##################################################################
#EN# Paths

#EN# 'set' token allows you to set variables that can be referenced
#EN# later as [variable_name].
#EN# Let's set main path variables. All paths except the first one
#EN# are relative so it is easy to move a system.
set FidoBaseDir=Q:\FIDO
set FidoSoftDir=[FidoBaseDir]\bin
set FidoHPTDir=[FidoSoftDir]\husky

#EN# 'include' token allows us to include separate file into config.
#EN# Here we use it to include file with all other path-related
#EN# configuration.
Include [FidoHPTDir]\path




##################################################################
#EN# Locking

#EN# This statement is about how program will perform when it can't
#EN# acquire the lock (see LockFile).
#EN# If it is set to some value > 0, then husky programs will wait
#EN# and try again a specified number of times with one second interval.
#EN# If 'advisorylock' isn't set or is set to zero, then program will
#EN# terminate immediately.
AdvisoryLock 10



##################################################################
#EN# Log options

#EN# The 'loglevels' statement specifies categories of log messages that
#EN# are written to the log file.
#EN# For detaled explanation see the documentation.
LogLevels   134567890ABCDEFGJKLMNT

#EN# This is preset for full logging. Uncomment this line only
#EN# if you have trouble with husky programs and need as many
#EN# information as they can give you.
#LogLevels   0-9A-Za-z

#EN# 'logechotoscreen' enables or disables logging to the screen.
#EN# It's a bolean statement. No argument, "yes", "on" and "1" are
#EN# positive equivalents, "no", "off" and "0" are negative equivalents.
LogEchoToScreen

#EN# This statement specifies loglevel for screen output.
#EN# By default its value is the same as specified in 'loglevels' statement.
#ScreenLogLevels 234567890ABCDEFGJKMNT



##################################################################
#EN# NLTools configuration

Include nltools_cfg



##################################################################
#EN# Linker configuration

LinkWithImportLog   Kill




##################################################################
#EN# Packers configuration

Include [FidoHPTDir]\packer_internal




##################################################################
#EN# Robots configuration

include [FidoHPTDir]\robots




##################################################################
#EN# Links

#EN# Links should be after packers definition!
include [FidoHPTDir]\links




##################################################################
#EN# Areas

#EN# Areas should be after links definition!
include [FidoHPTDir]\areas
if "[module]"=="htick"
    Include [FidoHPTDir]\fileareas
endif




##################################################################
#EN# Tosser configuration

#EN# Groups (see documentation) that are available to all links.
#EN# Use with care.
#PublicGroup     A,B,C,E,F,G,H,I,J,K,L,N,O,P,Q,R,S,T,U,V,W,X,Y,Z

#EN# The type of dupebase used. See docs.
# dupeBaseType <TextDupes | HashDupes | HashDupesWMsgId | CommonDupeBase>
DupeBaseType    HashDupesWMsgId

#EN# Maximum days for storing you hashes in CommonDupeBase.
#EN# For other dupebase types see -DupeHistory option in EchoArea statement.
#AreasMaxDupeAge 10

#EN# Move bundles for each link to his own directory. Boolean.
SeparateBundles

#EN# This statement sets naming scheme for created bundles.
#EN# See docs for description.
# bundleNameStyle <timeStamp | addrDiff | addrsCRC32 |
# addrDiffAlways | addrsCRC32Always | Amiga>
BundleNameStyle addrsCRC32

#EN# Default arcmail size in kb for all links. Default is 500kb.
DefArcmailSize  300

#EN# Report about autocreation areas goes
#EN# to netMail
ReportTo   netmail
#EN# or to EchoArea
#ReportTo    YOUR.INFO




##################################################################
#EN# Htick configuration

if "[module]"=="htick"
    Include [FidoHPTDir]\htick_cfg
endif




##################################################################
#EN# Carbon copy configuration

#EN# Carbon copy should be placed after areas definition!
Include cc_cfg




##################################################################
#EN# Routing configuration

#EN# Routing should be placed after links definition!
Include route_cfg

endif
